{% extends 'base.html' %}
{% load static %}

{% block title %}
  Contact Page
{% endblock %}
{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
{% endblock %}

{% block content %}
  
<div id="fcf-form">
  <h3 class="fcf-h3">Contact Me!</h3>

  <form onsubmit="sendEmail(); reset(); return false;" id="fcf-form-id" class="fcf-form-class" method="post" action="contact-form-process.php">
      
      <div class="fcf-form-group">
          <label for="Name" class="fcf-label">Your name</label>
          <div class="fcf-input-group">
              <input type="text" id="Name" name="Name" class="fcf-form-control" required>
          </div>
      </div>

      <div class="fcf-form-group">
          <label for="Email" class="fcf-label">Your email address</label>
          <div class="fcf-input-group">
              <input type="email" id="Email" name="Email" class="fcf-form-control" required>
          </div>
      </div>

      <div class="fcf-form-group">
          <label for="Message" class="fcf-label">Your message</label>
          <div class="fcf-input-group">
              <textarea id="Message" name="Message" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
          </div>
      </div>

      <div class="fcf-form-group">
          <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message</button>
      </div>

  </form>
  </div>
  
</div>
<script src=" https://smtpjs.com/v3/smtp.js"></script>
<script>
    function sendEmail(){
        Email.send({
            Host : "smtp.gmail.com",
            Username : "ayaankukreja71@gmail.com",
            Password : "Messi2004",
            To : 'ayaankukreja1@gmail.com',
            From : document.getElementById("email").value,
            Subject : "New Contact Form Inquiry",
            Body : "Name: " + document.getElementById("name").value 
                + "<br> Email: " + document.getElementById("email").value
                + "<br> Message: " + document.getElementById("message").value
        }).then(
        message => alert("Message sent succesfully")
        );
    }
</script>
</body>
</html>
{% endblock %}